<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Spring MVC Application</display-name>

	<!--School Management Start-->

	<servlet>
	<servlet-name>AddStudent</servlet-name>
	<servlet-class>servlet.AddStudent</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/AddStudent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveAllocation</servlet-name>
		<servlet-class>servlet.SaveAllocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveAllocation</servlet-name>
		<url-pattern>/SaveAllocation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveAllocationInventory</servlet-name>
		<servlet-class>servlet.SaveAllocationInventory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveAllocationInventory</servlet-name>
		<url-pattern>/SaveAllocationInventory</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddLocation</servlet-name>
		<servlet-class>servlet.AddLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLocation</servlet-name>
		<url-pattern>/AddLocation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddInventoryItem</servlet-name>
		<servlet-class>servlet.AddInventoryItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddInventoryItem</servlet-name>
		<url-pattern>/AddInventoryItem</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditStudent</servlet-name>
		<servlet-class>servlet.EditStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStudent</servlet-name>
		<url-pattern>/EditStudent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MarkAttendance</servlet-name>
		<servlet-class>servlet.MarkAttendance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkAttendance</servlet-name>
		<url-pattern>/MarkAttendance</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddTeacher</servlet-name>
		<servlet-class>servlet.AddTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTeacher</servlet-name>
		<url-pattern>/AddTeacher</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditTeacher</servlet-name>
		<servlet-class>servlet.EditTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditTeacher</servlet-name>
		<url-pattern>/EditTeacher</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddSubject</servlet-name>
		<servlet-class>servlet.AddSubject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSubject</servlet-name>
		<url-pattern>/AddSubject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditSubject</servlet-name>
		<servlet-class>servlet.EditSubject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditSubject</servlet-name>
		<url-pattern>/EditSubject</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddSubjectTeacher</servlet-name>
		<servlet-class>servlet.AddSubjectTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSubjectTeacher</servlet-name>
		<url-pattern>/AddSubjectTeacher</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ChangeClassRoom</servlet-name>
		<servlet-class>servlet.ChangeClassRoom</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeClassRoom</servlet-name>
		<url-pattern>/ChangeClassRoom</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddCourseSubjects</servlet-name>
		<servlet-class>servlet.AddCourseSubjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCourseSubjects</servlet-name>
		<url-pattern>/AddCourseSubjects</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddClassRoom</servlet-name>
		<servlet-class>servlet.AddClassRoom</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClassRoom</servlet-name>
		<url-pattern>/AddClassRoom</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddMarks</servlet-name>
		<servlet-class>servlet.AddMarks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMarks</servlet-name>
		<url-pattern>/AddMarks</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddClassStudent</servlet-name>
		<servlet-class>servlet.AddClassStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClassStudent</servlet-name>
		<url-pattern>/AddClassStudent</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>AddExam</servlet-name>
		<servlet-class>servlet.AddExam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddExam</servlet-name>
		<url-pattern>/AddExam</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>GetMarksForAssessment</servlet-name>
		<servlet-class>servlet.GetMarksForAssessment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMarksForAssessment</servlet-name>
		<url-pattern>/GetMarksForAssessment</url-pattern>
	</servlet-mapping>
	<!--School Management End-->









	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			c:\Users\malindak\Desktop\IKMAN\
		</param-value>
	</context-param>

</web-app>